<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="StyleSheet.css">
    <script src="GameFunctions.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to hashTAG, a modern take on freeze-tag</h1>

        <input type="file" capture="camera" accept="image/*" id="takePictureField">

        <button id="button" width="320" height="240">Start</button>



        <!--        <button id="start" onclick="BeginStreamCapture()" width=320 height=240>Start</button>-->

        <!--<video id="player" controls autoplay></video>
        <button id="capture">Capture</button>
        <canvas id="canvas" width=320 height=240></canvas>-->
    </div>
</body>
</html>
