<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="StyleSheet.css">
    <script src="hashtagGame.js"></script>
</head>
<body>
    <div class="container">
        <h1>You are in the game, click the button below to open your camera and start playing!</h1>

        <button onclick="PrimaryButtonPressed()">TakePhoto</button>
        <button onclick="UploadPhotos()">Upload</button>

        <img id="blah" src="" alt="your image" height="100" />

        <div style="display: none;">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
            <input type="file" multiple="multiple" capture="camera" onchange="AddPhoto.call(this)" accept="image/*">
        </div>
        <!--<button id="start" onclick="BeginCapture()" width="320" height="240">Start</button>
        <video id="player" controls autoplay></video>
        <button id="capture">Capture</button>
        <canvas id="canvas" width="320" height="240"></canvas>-->



    </div>
</body>
</html>
