<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="StyleSheet.css">
    <script src="hashtagGame.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to hashTAG, a modern take on freeze-tag</h1>

        <a type="button" class="btn btn-lg btn-default" href="/JoinGame"><span class="glyphicon glyphicon-flash"></span>Join Game</a>

    </div>
</body>
</html>
