<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <h1>Welcome to hashTAG, a modern take on freeze-tag</h1>
        <button class="btn-primary" onclick="JoinGame()">JoinGame</button>

    </div>
</body>
</html>
