<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="StyleSheet.css">
    <script src="hashtagGame.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to hashTAG, a modern take on freeze-tag</h1>

        <button id="start" onclick="BeginCapture()" width=320 height=240>Start</button>
        <input type="file" capture="camera" accept="image/*" id="takePictureField">

        <video id="player" controls autoplay></video>
        <button id="capture">Capture</button>
        <canvas id="canvas" width=320 height=240></canvas>

		

    </div>
</body>
</html>
